In [1]:
# import dependencies
import pandas as pd
import json
#pip install --upgrade google-api-python-client google-auth-httplib2 google-auth-oauthlib

In [2]:
#Read CSV
Youtube_Data = pd.read_csv('US_youtube_trending_data.csv')

# Convert CSV to Data Frame
Youtube_Data = pd.DataFrame(Youtube_Data)

# preview Data Frame
Youtube_Data.head()

,video_id,title,publishedAt,channelId,channelTitle,categoryId,trending_date,tags,view_count,likes,dislikes,comment_count,thumbnail_link,comments_disabled,ratings_disabled,description
0,3C66w5Z0ixs,I ASKED HER TO BE MY GIRLFRIEND...,2020-08-11T19:20:14Z,UCvtRTOMP2TqYqu51xNrqAzg,Brawadis,22,2020-08-12T00:00:00Z,brawadis|prank|basketball|skits|ghost|funny vi...,1514614,156908,5855,35313,https://i.ytimg.com/vi/3C66w5Z0ixs/default.jpg,False,False,SUBSCRIBE to BRAWADIS ▶ http://bit.ly/Subscrib...
1,M9Pmf9AB4Mo,Apex Legends | Stories from the Outlands – “Th...,2020-08-11T17:00:10Z,UC0ZV6M2THA81QT9hrVWJG3A,Apex Legends,20,2020-08-12T00:00:00Z,Apex Legends|Apex Legends characters|new Apex ...,2381688,146739,2794,16549,https://i.ytimg.com/vi/M9Pmf9AB4Mo/default.jpg,False,False,"While running her own modding shop, Ramya Pare..."
2,J78aPJ3VyNs,I left youtube for a month and THIS is what ha...,2020-08-11T16:34:06Z,UCYzPXprvl5Y-Sf0g4vX-m6g,jacksepticeye,24,2020-08-12T00:00:00Z,jacksepticeye|funny|funny meme|memes|jacksepti...,2038853,353787,2628,40221,https://i.ytimg.com/vi/J78aPJ3VyNs/default.jpg,False,False,I left youtube for a month and this is what ha...
3,kXLn3HkpjaA,XXL 2020 Freshman Class Revealed - Official An...,2020-08-11T16:38:55Z,UCbg_UMjlHJg_19SZckaKajg,XXL,10,2020-08-12T00:00:00Z,xxl freshman|xxl freshmen|2020 xxl freshman|20...,496771,23251,1856,7647,https://i.ytimg.com/vi/kXLn3HkpjaA/default.jpg,False,False,Subscribe to XXL → http://bit.ly/subscribe-xxl...
4,VIUo6yapDbc,Ultimate DIY Home Movie Theater for The LaBran...,2020-08-11T15:10:05Z,UCDVPcEbVLQgLZX0Rt6jo34A,Mr. Kate,26,2020-08-12T00:00:00Z,The LaBrant Family|DIY|Interior Design|Makeove...,1123889,45802,964,2196,https://i.ytimg.com/vi/VIUo6yapDbc/default.jpg,False,False,Transforming The LaBrant Family's empty white ...

In [3]:
# Preview last 5 rows of Data Frame
Youtube_Data.tail()

,video_id,title,publishedAt,channelId,channelTitle,categoryId,trending_date,tags,view_count,likes,dislikes,comment_count,thumbnail_link,comments_disabled,ratings_disabled,description
143385,1GOzQD9H9bo,Drought Discoveries: Father-son duo document f...,2022-07-19T13:17:03Z,UCpR_4YnLJAphcr0VI5yR5SA,FOX5 Las Vegas,25,2022-07-25T00:00:00Z,KVVU|Fox5|Fox5Vegas|Las Vegas|Vegas,414168,3509,0,672,https://i.ytimg.com/vi/1GOzQD9H9bo/default.jpg,False,False,DROUGHT DISCOVERIES: A father-son duo has been...
143386,zrLxSgh5YxU,Funeral held for Ivana Trump,2022-07-20T21:36:49Z,UCIjSUWHWp6KohfnR5OQTXnQ,FOX 5 New York,25,2022-07-25T00:00:00Z,ivana trump funeral|ivana trump dies|ivana tru...,728579,6243,0,875,https://i.ytimg.com/vi/zrLxSgh5YxU/default.jpg,False,False,"Former President Donald Trump, all his childre..."
143387,avi9iBC8opU,'Which Uses More Electricity...A Refrigerator ...,2022-07-19T17:00:01Z,UCg40OxZ1GYh3u3jBntB6DLg,Forbes Breaking News,25,2022-07-25T00:00:00Z,Rep. Thomas Massie|Sec. Pete Buttigieg|House,924917,19340,0,9553,https://i.ytimg.com/vi/avi9iBC8opU/default.jpg,False,False,At today's House Transportation Committee hear...
143388,4tYuIU7pLmI,JACK - J97 | NGÔI SAO CÔ ĐƠN | OFFICIAL MUSIC ...,2022-07-19T13:09:08Z,UChUJa1JyBc7Lc4orkiNKKQg,J97,10,2022-07-25T00:00:00Z,J97|jack|phương tuấn|jack phương tuấn|j 97|jac...,13706188,694419,0,207765,https://i.ytimg.com/vi/4tYuIU7pLmI/default.jpg,False,False,JACK - J97 | NGÔI SAO CÔ ĐƠN | OFFICIAL MUSIC ...
143389,YB-zx_P_51I,Better Call Saul Season 6 Episode 9 Breakdown ...,2022-07-19T16:24:02Z,UC8zAiZUuUXe-touFVopBbZw,Pete Peppers,24,2022-07-25T00:00:00Z,better call saul|better call saul season 6 epi...,323192,9936,0,2345,https://i.ytimg.com/vi/YB-zx_P_51I/default.jpg,False,False,Better Call Saul Season 6 Episode 9 Breakdown ...

In [4]:
Youtube_Data.columns

Index(['video_id', 'title', 'publishedAt', 'channelId', 'channelTitle',
       'categoryId', 'trending_date', 'tags', 'view_count', 'likes',
       'dislikes', 'comment_count', 'thumbnail_link', 'comments_disabled',
       'ratings_disabled', 'description'],
      dtype='object')

In [5]:
# Observe Data Types
Youtube_Data.dtypes

video_id             object
title                object
publishedAt          object
channelId            object
channelTitle         object
categoryId            int64
trending_date        object
tags                 object
view_count            int64
likes                 int64
dislikes              int64
comment_count         int64
thumbnail_link       object
comments_disabled      bool
ratings_disabled       bool
description          object
dtype: object

In [6]:
# Number of Records in data
len(Youtube_Data)

143390

In [7]:
print ("Rows     : " , Youtube_Data.shape[0]) #Displays numbers of rows .
print ("Columns  : " , Youtube_Data.shape[1]) # and column our dataset contains.
print ("\nFeatures : \n", Youtube_Data.columns.tolist())#displays column names
print ("\nMissing values :  ", Youtube_Data.isnull().sum().values.sum())   #find missing values
print ("\nUnique values :  \n", Youtube_Data.nunique())  # Count distinct observations

Rows     :  143390
Columns  :  16

Features :
 ['video_id', 'title', 'publishedAt', 'channelId', 'channelTitle', 'categoryId', 'trending_date', 'tags', 'view_count', 'likes', 'dislikes', 'comment_count', 'thumbnail_link', 'comments_disabled', 'ratings_disabled', 'description']

Missing values :   3663

Unique values :
 video_id              26273
title                 26896
publishedAt           25881
channelId              6065
channelTitle           6175
categoryId               15
trending_date           697
tags                  19117
view_count           139730
likes                 98006
dislikes              13179
comment_count         28951
thumbnail_link        26273
comments_disabled         2
ratings_disabled          2
description           26843
dtype: int64

In [8]:
# finding number of null records for each column
Youtube_Data.isna().sum()

video_id                0
title                   0
publishedAt             0
channelId               0
channelTitle            0
categoryId              0
trending_date           0
tags                    0
view_count              0
likes                   0
dislikes                0
comment_count           0
thumbnail_link          0
comments_disabled       0
ratings_disabled        0
description          3663
dtype: int64

In [9]:
# Dropping unecessary columns
Youtube_Data = Youtube_Data.drop(columns=['tags','comment_count','thumbnail_link','comments_disabled','ratings_disabled','description'])

In [10]:
# Renaming columns
Youtube_Data = Youtube_Data.rename(columns={'likes':'Likes','dislikes':'Dislikes',
                                            'channelTitle':'Channel Title','channelTitle':'Channel Title',
                                           'video_id':'Video ID','channelId':'Channel ID'})

In [11]:
Youtube_Data.head()

,Video ID,title,publishedAt,Channel ID,Channel Title,categoryId,trending_date,view_count,Likes,Dislikes
0,3C66w5Z0ixs,I ASKED HER TO BE MY GIRLFRIEND...,2020-08-11T19:20:14Z,UCvtRTOMP2TqYqu51xNrqAzg,Brawadis,22,2020-08-12T00:00:00Z,1514614,156908,5855
1,M9Pmf9AB4Mo,Apex Legends | Stories from the Outlands – “Th...,2020-08-11T17:00:10Z,UC0ZV6M2THA81QT9hrVWJG3A,Apex Legends,20,2020-08-12T00:00:00Z,2381688,146739,2794
2,J78aPJ3VyNs,I left youtube for a month and THIS is what ha...,2020-08-11T16:34:06Z,UCYzPXprvl5Y-Sf0g4vX-m6g,jacksepticeye,24,2020-08-12T00:00:00Z,2038853,353787,2628
3,kXLn3HkpjaA,XXL 2020 Freshman Class Revealed - Official An...,2020-08-11T16:38:55Z,UCbg_UMjlHJg_19SZckaKajg,XXL,10,2020-08-12T00:00:00Z,496771,23251,1856
4,VIUo6yapDbc,Ultimate DIY Home Movie Theater for The LaBran...,2020-08-11T15:10:05Z,UCDVPcEbVLQgLZX0Rt6jo34A,Mr. Kate,26,2020-08-12T00:00:00Z,1123889,45802,964

In [12]:
# add new column that would contain latest view_count for the particular video.
#since number of views keep on increasing everyday , we will be using only single observation against a video id.
Youtube_Data['count_max_view'] = Youtube_Data.groupby(['Video ID'])['view_count'].transform(max)

In [13]:
Youtube_Unique_Video_Id = Youtube_Data

In [14]:
#changing published date , trending_date to datetime datatype.
Youtube_Unique_Video_Id.publishedAt= pd.to_datetime(Youtube_Unique_Video_Id.publishedAt)
Youtube_Unique_Video_Id.trending_date= pd.to_datetime(Youtube_Unique_Video_Id.trending_date)

In [15]:
#Adding column for year to the dataframe
Youtube_Unique_Video_Id['Year']=Youtube_Unique_Video_Id['publishedAt'].dt.year
Youtube_Unique_Video_Id['Month']=Youtube_Unique_Video_Id.publishedAt.dt.month

In [39]:
# make a new dataframe with only single observations for each id.
Youtube_Unique_Video_Id = Youtube_Data.loc[Youtube_Data.view_count == Youtube_Data.count_max_view]
# Youtube_Unique_Video_Id.loc[Youtube_Unique_Video_Id.Year == 2021, 'title'].count()

In [40]:
# Use Youtube_Unique_Video_Id for main dataset

In [36]:
# Number of unique records in each column
Youtube_Unique_Video_Id.nunique()

Video ID          26273
title             26144
publishedAt       25881
Channel ID         6062
Channel Title      6156
categoryId           15
trending_date       697
view_count        26156
Likes             24122
Dislikes           5614
count_max_view    26156
Year                  3
Month                12
dtype: int64

In [37]:
Youtube_Unique_Video_Id.duplicated(subset=['Video ID'])

172       False
173       False
174       False
175       False
176       False
          ...
143385    False
143386    False
143387    False
143388    False
143389    False
Length: 26360, dtype: bool

In [38]:
Reocurring_Trending_Videos = Youtube_Unique_Video_Id.groupby(['Video ID']).count().sort_values(by='title',ascending=False)
Reocurring_Trending_Videos.head(10)

,title,publishedAt,Channel ID,Channel Title,categoryId,trending_date,view_count,Likes,Dislikes,count_max_view,Year,Month
Video ID,,,,,,,,,,,,
69KrkMpvZdg,8,8,8,8,8,8,8,8,8,8,8,8
hAxqygRdM4g,7,7,7,7,7,7,7,7,7,7,7,7
AWXvClaRtsI,7,7,7,7,7,7,7,7,7,7,7,7
ZoPJVcHYlU0,6,6,6,6,6,6,6,6,6,6,6,6
Isim0ysZ6X4,5,5,5,5,5,5,5,5,5,5,5,5
ifJYb2An7wE,5,5,5,5,5,5,5,5,5,5,5,5
BxOEj8ZeX2g,5,5,5,5,5,5,5,5,5,5,5,5
kmk5vciFbek,4,4,4,4,4,4,4,4,4,4,4,4
Hb3rmh-_FMw,4,4,4,4,4,4,4,4,4,4,4,4
xWLoeDcJwvU,3,3,3,3,3,3,3,3,3,3,3,3

In [34]:
Youtube_Unique_Video_Id.loc[Youtube_Unique_Video_Id['Video ID'] == '69KrkMpvZdg']

,Video ID,title,publishedAt,Channel ID,Channel Title,categoryId,trending_date,view_count,Likes,Dislikes,count_max_view,Year,Month
49396,69KrkMpvZdg,Celebrating Luther Vandross's 70th Birthday,2021-04-19 15:00:08+00:00,UCdq61m8s_48EhJ5OM_MCeGw,GoogleDoodles,1,2021-04-20 00:00:00+00:00,0,0,0,0,2021,4
49597,69KrkMpvZdg,Celebrating Luther Vandross's 70th Birthday,2021-04-19 15:00:08+00:00,UCdq61m8s_48EhJ5OM_MCeGw,GoogleDoodles,1,2021-04-21 00:00:00+00:00,0,0,0,0,2021,4
49810,69KrkMpvZdg,Celebrating Luther Vandross's 70th Birthday,2021-04-19 15:00:08+00:00,UCdq61m8s_48EhJ5OM_MCeGw,GoogleDoodles,1,2021-04-22 00:00:00+00:00,0,0,0,0,2021,4
50050,69KrkMpvZdg,Celebrating Luther Vandross's 70th Birthday,2021-04-19 15:00:08+00:00,UCdq61m8s_48EhJ5OM_MCeGw,GoogleDoodles,1,2021-04-23 00:00:00+00:00,0,0,0,0,2021,4
50283,69KrkMpvZdg,Celebrating Luther Vandross's 70th Birthday,2021-04-19 15:00:08+00:00,UCdq61m8s_48EhJ5OM_MCeGw,GoogleDoodles,1,2021-04-24 00:00:00+00:00,0,0,0,0,2021,4
50504,69KrkMpvZdg,Celebrating Luther Vandross's 70th Birthday,2021-04-19 15:00:08+00:00,UCdq61m8s_48EhJ5OM_MCeGw,GoogleDoodles,1,2021-04-25 00:00:00+00:00,0,0,0,0,2021,4
50735,69KrkMpvZdg,Celebrating Luther Vandross's 70th Birthday,2021-04-19 15:00:08+00:00,UCdq61m8s_48EhJ5OM_MCeGw,GoogleDoodles,1,2021-04-26 00:00:00+00:00,0,0,0,0,2021,4
50969,69KrkMpvZdg,Celebrating Luther Vandross's 70th Birthday,2021-04-19 15:00:08+00:00,UCdq61m8s_48EhJ5OM_MCeGw,GoogleDoodles,1,2021-04-27 00:00:00+00:00,0,0,0,0,2021,4

In [20]:
# display data frame first five rows
Youtube_Unique_Video_Id.head()

,Video ID,title,publishedAt,Channel ID,Channel Title,categoryId,trending_date,view_count,Likes,Dislikes,count_max_view,Year,Month
172,cAtazIk1IYw,How To Make a Curried Egg Sandwich,2020-08-07 18:30:06+00:00,UCR4s1DE9J4DHzZYXMltSMAg,HowToBasic,26,2020-08-12 00:00:00+00:00,1238677,104736,3736,1238677,2020,8
173,NYFHnIiA8gE,Cake Rescue Fixing Viral Cake Fails | How To C...,2020-08-07 09:30:04+00:00,UCsP7Bpw36J666Fct5M8u-ZA,How To Cook That,24,2020-08-12 00:00:00+00:00,938198,44088,565,938198,2020,8
174,czwejgoH3zs,"Son, lemme teach you something new",2020-08-06 19:47:12+00:00,UCw03U5DZGLqvv5elJvXvR0Q,Bread Boys,24,2020-08-12 00:00:00+00:00,1722152,169501,927,1722152,2020,8
175,dO6YihaqtaQ,Trump takes executive action to address econom...,2020-08-09 01:35:42+00:00,UCBi2mrWuNuyYy4gbM6fU18Q,ABC News,25,2020-08-12 00:00:00+00:00,1090847,10922,2517,1090847,2020,8
176,sSjtGqRXQ9Y,JUDAS AND THE BLACK MESSIAH - Official Trailer,2020-08-06 23:01:42+00:00,UCjmJDM5pRKbUlVIzDYYWb6g,Warner Bros. Pictures,24,2020-08-12 00:00:00+00:00,971704,23311,1987,971704,2020,8

In [21]:
Youtube_Unique_Video_Id.describe()

,categoryId,view_count,Likes,Dislikes,count_max_view,Year,Month
count,26360.000000,2.636000e+04,2.636000e+04,26360.000000,2.636000e+04,26360.000000,26360.000000
mean,18.855842,2.768747e+06,1.378590e+05,2127.439302,2.768747e+06,2021.104552,6.580766
std,6.720869,6.759416e+06,3.925702e+05,11043.764165,6.759416e+06,0.703189,3.438755
min,1.000000,0.000000e+00,0.000000e+00,0.000000,0.000000e+00,2020.000000,1.000000
25%,17.000000,5.726400e+05,2.035825e+04,0.000000,5.726400e+05,2021.000000,4.000000
50%,20.000000,1.170920e+06,4.910000e+04,395.000000,1.170920e+06,2021.000000,7.000000
75%,24.000000,2.569704e+06,1.238912e+05,1384.000000,2.569704e+06,2022.000000,10.000000
max,29.000000,2.644074e+08,1.602153e+07,879354.000000,2.644074e+08,2022.000000,12.000000

In [41]:
# gives us various count of video in each channel category
Youtube_Unique_Video_Id.groupby("categoryId").size().reset_index(name="View Count") \
    .sort_values("View Count", ascending=False).head(20)

    categoryId  View Count
9           24        5229
6           20        5016
2           10        4260
4           17        3094
7           22        2382
8           23        1410
0            1        1033
10          25        1021
13          28         828
11          26         759
12          27         598
1            2         472
5           19         126
3           15         114
14          29          18

In [25]:
#Getting category for the category file
#we need id and title from this file which are under items tag and snippet contain title
with open("US_category_id.json") as f:
    categories = json.load(f)["items"]
cat_dict = {}
category=[]
for cat in categories:
    category.append([cat["id"],cat["snippet"]["title"]])

In [26]:
df_category = pd.DataFrame(category,columns=['categoryId','category']) 
df_category.head(20)

   categoryId               category
0           1       Film & Animation
1           2       Autos & Vehicles
2          10                  Music
3          15         Pets & Animals
4          17                 Sports
5          18           Short Movies
6          19        Travel & Events
7          20                 Gaming
8          21          Videoblogging
9          22         People & Blogs
10         23                 Comedy
11         24          Entertainment
12         25        News & Politics
13         26          Howto & Style
14         27              Education
15         28   Science & Technology
16         29  Nonprofits & Activism
17         30                 Movies
18         31        Anime/Animation
19         32       Action/Adventure

In [44]:
df_category.categoryId=df_category.categoryId.astype('int64')
#merge YT Data Frame and df_category to get category names
df_merge = Youtube_Unique_Video_Id.merge(df_category, on = 'categoryId', how = 'inner')
df_merge['category']

0                Howto & Style
1                Howto & Style
2                Howto & Style
3                Howto & Style
4                Howto & Style
                 ...
26355    Nonprofits & Activism
26356    Nonprofits & Activism
26357    Nonprofits & Activism
26358    Nonprofits & Activism
26359    Nonprofits & Activism
Name: category, Length: 26360, dtype: object

In [45]:
# Create summary chart for video counts by categories
agg_func_count = {'view_count': ['count', 'nunique', 'size']}
df_merge.groupby(['category']).agg(agg_func_count)

#change to clean data frame name
Youtube_Data_Updated_Merged = df_merge

In [47]:
# Youtube Data for 2020
YT_Data_2020 = df_merge.loc[(df_merge['Year']) >= 2020]

In [48]:
# Counts of video in each category published in 2020
YT_2020_Category_Summary = {'view_count': ['count', 'nunique', 'size']}
YT_2020_Category_Summary = YT_Data_2020.groupby(['category']).agg(agg_func_count)

In [49]:
# mean, median, mode, and average of the video categories count list (max, min, mode)
# Calculate total likes
# Avaerage of likes against total volume of videos
# Correlation between like count and volume of views
YT_2020_Category_Summary

                      view_count
                           count nunique  size
category
Autos & Vehicles             472     471   472
Comedy                      1410    1409  1410
Education                    598     594   598
Entertainment               5229    5208  5229
Film & Animation            1033     999  1033
Gaming                      5016    5004  5016
Howto & Style                759     759   759
Music                       4260    4238  4260
News & Politics             1021    1021  1021
Nonprofits & Activism         18      18    18
People & Blogs              2382    2378  2382
Pets & Animals               114     114   114
Science & Technology         828     825   828
Sports                      3094    3086  3094
Travel & Events              126     125   126